<div class="conteiner">
  <div class="content">
    <div class="img">
      <img [src]='itemUrl' alt="{{itemName}}" style="width: 240px; margin: 9px">
    </div>

    <div class="desc">
      <h2>Name: {{itemName}}</h2>
      <h2>Rating: {{itemRating}}</h2>
      <h2>Slogan: {{itemSlogan}}</h2>
      <h2>Date: {{itemDate}}</h2>
      <h2>Country: {{itemCountry}}</h2>
      <h2>Genre: {{itemGenre}}</h2>
      <h2>Translation: {{itemTranslation}}</h2>
      <h2>Time: {{itemTime}}</h2>
    </div>
  </div>
</div>
<!-- <h3>Name: {{itemName}}</h3>
<img [src]='itemUrl' alt="{{itemName}}"/>
<h2>Rating: {{itemRating}}</h2>
<h2>Slogan: {{itemSlogan}}</h2>
<h2>Date: {{itemDate}}</h2>
<h2>Country: {{itemCountry}}</h2>
<h2>Genre: {{itemGenre}}</h2>
<h2>Translation: {{itemTranslation}}</h2>
<h2>Time: {{itemTime}}</h2> -->
