<div class="main-container">
    <div class="content">
      <div class="inner-content">
        <!-- Search -->
        <div class="row">
          <input id="input" class="form-control mr-sm-2" placeholder="Search movie" aria-label="Search" [(ngModel)]="SearchMovie">
        </div>
        <!--List of movies-->
        <div class="sidebar" *ngFor="let list of category | search:SearchMovie">
          <a class="a" routerLink="/movie" (click)="onSelect(list)"><img [src]='list.url'/></a>
          <a class="a" routerLink="/movie" (click)="onSelect(list)">{{list.name}}</a>
        </div>
      </div>
      <!--Menu-->
      <div class="menu">
        <div class="inner-menu">
          <a routerLink="/content" class="menuItem" *ngFor="let menu of menus; let i = index" (click)="check(i)">
            {{menu | slice:1}}
          </a>
        </div>
      </div>
    </div>
</div>
